:root{
    --rojo: #ff0000
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

/* HEADER */
/*--------------------------------------------------------------------------------*/
header {
    height: 90px;
    background-color: var(--rojo) ;
    display: flex;
    align-items: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

nav {
    display: flex;
}

.menu-icon {
    display: flex;
    justify-items: center;
    align-items: center;
    margin: auto 20px;
}

.menu-icon img {
    height: 30px;
    
}

.icon  {
    display: flex;
    align-items: center;
    justify-items: center;
}

.icon  img{
    height: 70px;
    margin: auto 15px;
}

.title {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.title h1 {
    font-size: 2.5rem;
}

.title form {
    display: flex;
    align-items: center;
}


.title form img {
    height: 20px;
    margin-left: 10px;
}

.title form img:hover {
    animation-duration: 500ms;
    animation-name: bigger-search;

}

.title form input{
    height: 25px;
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
}

main {
    background-color: var(--rojo);
}

/*CATEGORIES*/
/*----------------------------------------------------------------------------------*/

.categories {
    padding: 2rem;
    /*Para que no se muestre*/
    display: none;
}

.categories h1 {
    font-size: 2.5rem;
    text-align: center;
}


.categories figure {
    height: 130px;
    border: 2px solid black;
    margin: 1em;
    background-color: white;
}

.categories figure img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-bottom: 2px solid black;
    
}


.categories figure figcaption p {
    font-size: 2rem;
    text-align: center;

}

/*PRODUCTS*/


.prod h1{
    font-size: 2rem;
    padding-top: 10px;
    text-align: center;
}
.products {
    display: flex;
    justify-content: center;
    padding-left: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-container {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    margin: 10px 20px 10px 10px;
    background-color: white;
    
}
.product-container img {
    height: 120px;
    object-fit: contain;
    margin: 10px;

}

.product-container figcaption{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
    border-top: 2px solid black;

}

.product-container figcaption p {
    margin-top: 5px;
    font-size: 1.3rem;
}

/* items */ 
/*--------------------------------------------------------------------------------*/

.item .quit {
    height: 20px;
    position: absolute;
    left: -10px;
    top: -10px;
}

.item {
    width: 90%;
    position: absolute;
    top: 100px;
    margin-left: 5%;
    background-color:white;
    border: 2px solid black;

}

.item .item-img {
    width: 80%;
    margin: 20px 10% 20px 10%;
    border: 1px solid black;
}

.item .back {
    height: 20px;
    position: absolute;
    left: 25px;
    top: 150px;
}

.item .foward {
    height: 20px;
    position: absolute;
    left: 307px;
    top: 150px;
}

.item .back:hover {
    animation-name: backfoward;
    animation-duration: 300ms;
}

.item .foward:hover {
    animation-name: backfoward;
    animation-duration: 300ms;
}

.item figcaption {
    margin: 0 10% 0 10%;
}

.item figcaption h1 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.6em;
}

.item figcaption p {
    margin-bottom: 10px;
    font-size: 1.3em;
    display: inline-block;
}

.item .img-whatsapp {
    height: 25px;
    margin: 5px;
}

.item .item-buy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.item .item-buy-buy{
    display: flex;
    align-items: center;
}

.item .item-buy p {
    font-size: 1.6rem;
}

.item-buy-buy button{
    background-color: black;
    border: none;
    color: white;
    font-size: 2rem;
    padding: 5px;
    height: 35px;
    
}

.item-buy-buy button:hover{
    background-color: rgb(39, 39, 39);
    border: 1.5px solid black ;
}





/*ANIMACIONES*/
/*-----------------------------------------------------------------------------*/

@keyframes bigger-search {
    form{
        height: 20px;
    }
    to {
        height: 25px;
    }
}

@keyframes backfoward {
    form{
        height: 20px;
        top: 150px;
    }
    to {
        height: 25px;
        top: 146px;
    }
}


